{{ define "main" }}
<article class="justify-self-center mx-auto text-center prose dark:prose-invert prose-neutral lg:prose-lg">
    <h1 class="font-sans text-red-500 text-5xl">{{ .Title }}</h1>
    {{ .Content }}
</article>
{{ end }}