<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{ partial "head.html" . }}

<body class="flex flex-col min-h-screen bg-neutral-50 dark:bg-neutral-900 text-neutral-600 dark:text-neutral-400">

    {{- partial "dev/dev-tools.html" . -}}
    {{- partial "header.html" . -}}
    <main class="flex-1 grow mx-auto w-screen max-w-screen-2xl px-6 sm:px-7 xl:px-8 2xl:px-10 pt-4 sm:pt-16">
        {{- partial "nav.html" . -}}
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>