<footer class="bottom-0 w-full p-4 text-xs text-center text-neutral-500 border-t border-neutral-200 dark:border-neutral-700 mt-10">
    <p><a href="https://tacowolf.net">part of tacowolf.net</a><a rel="me" href="https://meow.social/@chirpbirb">.</a></p>
</footer>
