<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ block "title" . }}
        {{- .Title }} - {{ .Site.Title -}}
        {{ end }}</title>
    {{- if .Description }}
    <meta name="description" content="{{ .Description }}" />
    {{ end -}}
    {{- if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords " ," }}" />
    {{ end -}}
    {{- if .Params.Author }}
    <meta name="author" content="{{ .Params.Author}}" />
    {{ end -}}
    {{ hugo.Generator }}

    {{ partialCached "css.html" . }}

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <script async src="https://umami.birdcat.cafe/script.js" data-website-id="dc23b9b2-a6bb-44e9-8582-4151f9c52b33"></script>
</head>