<h2 class="justify-self-center mx-auto text-center text-xl mb-10">
	{{ with .Site.GetPage "/home" }}
  <a href="{{ .Permalink }}" class="hover:text-lime-500 dark:hover:text-lime-500">{{ .Title }}</a>
  {{ end }}| 
	{{ with .Site.GetPage "/about" }}
  <a href="{{ .Permalink }}" class="hover:text-lime-500 dark:hover:text-lime-500">{{ .Title }}</a>
  {{ end }}| 
	{{ with .Site.GetPage "/characters" }}
  <a href="{{ .Permalink }}" class="hover:text-lime-500 dark:hover:text-lime-500">{{ .Title }}</a>
  {{ end }}| 
	{{ with .Site.GetPage "/writing" }}
  <a href="{{ .Permalink }}" class="hover:text-lime-500 dark:hover:text-lime-500">{{ .Title }}</a>
  {{ end }}| 
	{{ with .Site.GetPage "/artwork" }}
  <a href="{{ .Permalink }}" class="hover:text-lime-500 dark:hover:text-lime-500">{{ .Title }}</a>
  {{ end }}|
	{{ with .Site.GetPage "/links" }}
  <a href="{{ .Permalink }}" class="hover:text-lime-500 dark:hover:text-lime-500">{{ .Title }}</a>
  {{ end }}
</h2>